.content-page
	background-color white
	text-align center
	height 230px
	width 50%
	margin-left 25%
	margin-top 17%
	#header
		padding-top 5%
		p
			font-size 20px
			font-style oblique
		.author
			padding-right 5%
	.footer
		margin-top 8%
		div
			display inline-block
		.twitter
			float left
			margin-left 8%
		.newQuote
			float right
			margin-right 8%